[submodule "invenio_group_collections_kcworks/dependencies/invenio-communities"]
	path = invenio_group_collections_kcworks/dependencies/invenio-communities
	url = https://github.com/MESH-Research/invenio-communities.git
	branch = local-working
