[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "1.10.4"
docker-services-cli = "*"
invenio-administration = "*"
invenio-app-rdm = {version = "<13.0.0", extras = ["opensearch2"]}
invenio-cli = "*"
invenio-communities = "*"
invenio-remote-user-data-kcworks = "*"
invenio-group-collections-kcworks = {file = ".", editable = true}
opensearch-dsl = "*"
psycopg2 = "*"
requests-mock = "*"
unidecode = "*"

[dev-packages]
bumpver = "*"
check-manifest = "*"
pytest = "*"
pytest-invenio = "*"

[requires]
python_version = ">=3.9"
